@import "variables";

.parkingCard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    width: 120px;
    height: 100px;
    color: #fff;
}

h3, h4, p
{
    margin: 0px;
}

.parkingCard
{
    margin: 10px;
}

.place
{
    border-radius: 10px;
    box-shadow:  10px 10px 10px #cdcdcd,
               -10px -10px 10px #e4e4e4;

    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 20px;
}

.button.round
{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.placeContainer
{
    flex-wrap: wrap;
    width: 60%;
    height: 400px;
    overflow: scroll;
}

.placeContainer::-webkit-scrollbar {
    display: none;
}

.level
{
    display: flex;
    justify-content: space-around;
    width: 60%;
    background: transparent;
}


.refreshIcon
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: -90px;
    left: -90px;
}

.rotate {
    animation: rotate-keyframes 1s ease;
   }
   
   @keyframes rotate-keyframes {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(360deg);
    }
}