@import "variables";

.containerTopBar {
  width: 100vw;
  height: 80px;
  background: transparent;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 99;
}

.containerTopBar h3 {
  margin-left: 100px;
  text-shadow: none;
  margin-top: 10px;
}

.navButton
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-right: 100px;
}

.button
{
  width: 100px;
  height: 30px;
  color: $dark2;
  text-shadow: none;
  transition: transform 0.3s ease;
}

.button.color
{
  color: $green
}

.button:hover
{
  transform: scale(1.1);
}

