
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body{
  background-color: #f0f0f0;
  color: #fff;
  text-shadow: 2px 2px 0px #c3c3c3;
}

.center
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.center.around
{
  justify-content: space-around;
}

.cardNoShape
{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

.cardShapeOut
{
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  30px 30px 60px #bebebe,
             -30px -30px 60px #ffffff;
}

.cardShapeIn
{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 60px #bebebe,
              inset -20px -20px 60px #ffffff;
}

.cardShapeIn.small
{
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 12px #bebebe,
              inset -5px -5px 12px #ffffff;
}

.cardShapeOut.small
{
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  10px 10px 60px #bebebe,
             -10px -10px 60px #ffffff;
}




